@model IEnumerable<quasitekWeb.Models.Device>

@{
    ViewData["Title"] = "Search Device";
}

<div class="row mb-3 align-items-center">
    <div class="col-md-8 d-flex align-items-center justify-content-start">
         <h2 class="me-3 mb-0" style="color: #1A7A77;">Search Device</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <button onclick="window.history.back();" class="btn btn-secondary btn-sm">Back</button>
    </div>
</div>

<!-- Search form -->
<form asp-action="Search" method="post" class="form-inline">
    <div class="col-md-12">
        <label>Search Device<span class="text-danger">*</span></label>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 d-flex align-items-center">
            <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Enter Device ID or Name" style="width: 300px;" required/>
            <button type="submit" class="btn btn-primary d-inline" style="background-color: #1A7A77; border-color: #1A7A77; margin-left: 10px;" >Search</button>
        </div>
    </div>
</form>

<!-- Display the device list only if there are devices to show -->
@if (Model != null && Model.Any())
{
    <div class="row mb-3">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Device Name</th>
                        <th>Device Model</th>
                        <th>Purchase Date</th>
                        <th>Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DeviceId</td>
                            <td>@item.DeviceName</td>
                            <td>@item.DeviceModel</td>
                            <td>@item.PurchaseDate.ToString("yyyy/MM/dd")</td>
                            <td>@item.ExpireDate.ToString("yyyy/MM/dd")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
